*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

/* NAVBAR */

nav{
width:100%;
padding:15px 50px;
background:#020617;
position:sticky;
top:0;
z-index:100;
}

.container{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo h1{
display:flex;
align-items:center;
gap:10px;
font-size:22px;
}

.header a{
margin:0 15px;
text-decoration:none;
color:white;
font-size:16px;
transition:0.3s;
}

.header a:hover{
color:#38bdf8;
}

#icon i{
margin-left:15px;
font-size:20px;
cursor:pointer;
color: solid aliceblue;
}

/* HOME */

#home{
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
padding:80px 20px;
}

#home h1{
font-size:40px;
margin-bottom:10px;
}

#home span{
color:#38bdf8;
}

#home h3{
margin-bottom:15px;
font-weight:normal;
}

#home p{
max-width:500px;
margin-bottom:20px;
}

button{
padding:10px 20px;
border:none;
background:#38bdf8;
color:black;
font-weight:bold;
border-radius:5px;
cursor:pointer;
}

.image{
margin-top:30px;
}

#me{
width:180px;
height: 180px;
border-radius:50%;
object-fit:cover;
border:4px solid #38bdf8;
}

/* SECTIONS */

section{
padding:80px 50px;
text-align:center;
}

section h1{
margin-bottom:20px;
font-size:30px;
}

/* EDUCATION + PROJECT CARDS */

.card{
background:#1e293b;
padding:20px;
margin:15px auto;
width:start end;
border-radius:10px;
box-shadow:0 0 10px solid black;
}

/* SKILLS */

#skills ul{
list-style:none;
}

#skills li{
background:#1e293b;
margin:10px auto;
padding:10px;
width:start end;
border-radius:5px;
}

/* CONTACT */

#contact p{
margin:10px 0;
}

#bavaimg{
  width: 150px;
  height: 180px;
}

#LG{
  color:#38bdf8;
}